<h1>Editar jornada</h1>
<form action="/jornada/editar" method="post">
  <fieldset>
    <div class="mb-3">
      <label for="salary" class="form-label">Salário</label>
      <input required id="salary" type="text" name="salary" class="form-control" value="<%= salary.value %>" />
    </div>

    <% for day in days %>
      <div>
        <label for="<%= day.name %>" class="form-label"><%= get_translation day %></label>
        <div class="input-group mb-3">
          <input required
                 type="number"
                 step="any"
                 name="<%= day.name %>"
                 id="<%= day.name %>"
                 class="form-control"
                 value="<%= day.work_time %>">
          <span class="input-group-text">minutos</span>
        </div>
      </div>
    <% end %>
  </fieldset>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
