<div class="d-flex align-items-center mb-4">
  <h1 class="me-4">Materiais</h1>
  <a class="btn btn-primary" href="/materiais/adicionar" role="button">Adicionar</a>
</div>

<table class="table table-sm">
  <thead>
    <tr class="table-active">
      <td><strong>Nome</strong></td>
      <td><strong>Preço base</strong></td>
    </tr>
  </thead>
  <tbody>
    <% for material in materials %>
      <tr>
        <td>
          <button type="button"
                  onclick="confirmRemoval(<%= material.id %>)"
                  class="btn btn-outline-danger btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">
            <i class="bi bi-trash"></i>
          </button>
          <a href="/materiais/<%= material.id %>/editar" class="btn btn-sm btn-outline-primary mr-2" role="button">
            <i class="bi bi-pencil-square"></i>
          </a>
          <%= material.name %>
        </td>

        <% if material.measure_type == MaterialMeasureType.area %>
          <td>
            R$<%= money_format material.price %> (<%=material.base_length%>x<%=material.base_width%>cm)
          </td>
        <% elsif material.measure_type == MaterialMeasureType.length %>
          <td>
            R$<%= money_format material.price %> / metro
          </td>
        <% else %>
          <td>
            R$<%= money_format material.price %> (unidade)
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
 let all_materials = [
   <% materials.each do |material| %>
   { name: "<%= material.name %>",
     id: <%= material.id %>,
   },
   <% end %>
 ]

 function confirmRemoval(id) {
   let material = all_materials.find((x) => x.id === id);

   let title = `Remover ${material.name}?`;
   let description = `Esta ação não poderá ser desfeita.`;
   openModal(title, description, async () => { await removeMaterial(material) });
 }

 async function removeMaterial(material) {
   await fetch(`/materiais/${material.id}/remover`, { method: "POST" });
 }
</script>
