<div class="d-flex align-items-center mb-4">
  <h1 class="me-4">Produtos</h1>
  <a class="btn btn-primary" href="/produtos/adicionar" role="button">Adicionar</a>
</div>

<% for product in products %>
  <div class="mb-3">
    <div class="card">
      <div class="card-body row">
        <div class="col">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.description %></p>
          <a href="/produtos/<%= product.id %>" class="card-link">Ver detalhes</a>
          <button type="button"
                  onclick="confirmRemoval(<%= product.id %>)"
                  class="btn btn-danger btn-sm mr-4"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">
            Remover
          </button>
        </div>
        <div class="col text-end fs-3 align-baseline" style="margin: auto;">
          <big>R$<%= money_format product.total_price %></big>
        </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
 let all_products = [
   <% products.each do |product| %>
   { name: "<%= product.name %>",
     id: <%= product.id %>,
   },
   <% end %>
 ]

 function confirmRemoval(id) {
   let product = all_products.find((x) => x.id === id);

   let title = `Remover ${product.name}?`;
   let description = `Esta ação não poderá ser desfeita.`;
   openModal(title, description, async () => { await removeMaterial(product) });
 }

 async function removeMaterial(product) {
   await fetch(`/produtos/${product.id}/remover`, { method: "POST" });
 }
</script>
